.DS_Store
xcschememanagement.plist
Pods
.xcworkspacedata
*.xcworkspace
*.xcodeproj/project.xcworkspace/xcshareddata
UserInterfaceState.xcuserstate
xcuserdata/

## Build generated
build/
DerivedData/

## Bundle
.bundle/
bin/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.pyc
*.idea

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
.build/

# ---------------------------------------
# cocoapods-binary-cache
_Prebuilt/
_Prebuild/
_Prebuild_delta/
# ---------------------------------------